.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
marquee {
  font-size: 18px;
  color: #007bff; /* Blue color */
  background-color: #f4f4f4; /* Light gray background */
  padding: 5px;
  border-radius: 5px;
}
.login-form fieldset {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  border-radius: 10px solid yellow;
  transition: border 0.3s ease;
}

.login-form fieldset:hover {
  border: 10px solid red;
}

.login-form legend {
  font-weight: bold;
  margin: 0 10px;
}

.login-form .form-group {
  margin: 10px 0;
}

.login-form label {
  display: block;
  font-weight: bold;
}

.login-form input {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
}

.login-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}

#background {
  background-image: url('./images/background1.jpg'); /* Adjust the path to your image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px; /* Adjust padding as needed */
}

#login-text{
  color:yellow;
}